# Data
/data/processed/
/data/raw/
/data/**/*.json.gz

# Temporal files
.tmp/
src/api/.tmp/

# Environments and dependencies
.venv/
venv/
dashboard/node_modules/
models_saved/
__pycache__/
*.pyc
.ipynb_checkpoints/
